In [13]:
data = yf.download('AAPL','2016-01-01','2023-06-18')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2016-01-04,25.652500,26.342501,25.500000,26.337500,24.041489,270597600
2016-01-05,26.437500,26.462500,25.602501,25.677500,23.439024,223164000
2016-01-06,25.139999,25.592501,24.967501,25.174999,22.980330,273829600
2016-01-07,24.670000,25.032499,24.107500,24.112499,22.010452,324377600
2016-01-08,24.637501,24.777500,24.190001,24.240000,22.126837,283192000
...,...,...,...,...,...,...
2023-06-12,181.270004,183.889999,180.970001,183.789993,183.789993,54274900
2023-06-13,182.800003,184.149994,182.440002,183.309998,183.309998,54929100
2023-06-14,183.369995,184.389999,182.020004,183.949997,183.949997,57462900
2023-06-15,183.960007,186.520004,183.779999,186.009995,186.009995,65433200
2023-06-16,186.729996,186.990005,184.270004,184.919998,184.919998,101235600

In [12]:
tickerSymbol = 'AAPL'
tickerData = yf.Ticker(tickerSymbol)
tickerData.history(period='1d', interval='10m')

# [1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo]

AAPL: Invalid input - interval=10m is not supported. Valid intervals: [1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo]

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [28]:
import yfinance as yf

tickerSymbol = 'AAPL'
tickerData = yf.Ticker(tickerSymbol)

dividends = tickerData.dividends
print(dividends)

splits = tickerData.splits
print(splits)

Date
1987-05-11 00:00:00-04:00    0.000536
1987-08-10 00:00:00-04:00    0.000536
1987-11-17 00:00:00-05:00    0.000714
1988-02-12 00:00:00-05:00    0.000714
1988-05-16 00:00:00-04:00    0.000714
                               ...
2022-05-06 00:00:00-04:00    0.230000
2022-08-05 00:00:00-04:00    0.230000
2022-11-04 00:00:00-04:00    0.230000
2023-02-10 00:00:00-05:00    0.230000
2023-05-12 00:00:00-04:00    0.240000
Name: Dividends, Length: 79, dtype: float64
Date
1987-06-16 00:00:00-04:00    2.0
2000-06-21 00:00:00-04:00    2.0
2005-02-28 00:00:00-05:00    2.0
2014-06-09 00:00:00-04:00    7.0
2020-08-31 00:00:00-04:00    4.0
Name: Stock Splits, dtype: float64

In [ ]:
import yfinance as yf
import pandas as pd
tickerSymbol = 'AAPL'
tickerData = yf.Ticker(tickerSymbol)

info = tickerData.info
l = pd.DataFrame(info).columns
list(l)

In [37]:
from yahooquery import Ticker

company = Ticker('AAPL')

balance_sheet = company.balance_sheet()

income_statement = company.income_statement()
cash_flow = company.cash_flow()

cash_flow

,asOfDate,periodType,currencyCode,BeginningCashPosition,CapitalExpenditure,CashDividendsPaid,CashFlowFromContinuingFinancingActivities,CashFlowFromContinuingInvestingActivities,CashFlowFromContinuingOperatingActivities,ChangeInAccountPayable,...,OtherNonCashItems,PurchaseOfBusiness,PurchaseOfInvestment,PurchaseOfPPE,RepaymentOfDebt,RepurchaseOfCapitalStock,SaleOfInvestment,ShortTermDebtIssuance,ShortTermDebtPayments,StockBasedCompensation
symbol,,,,,,,,,,,,,,,,,,,,,
AAPL,2019-09-30,12M,USD,2.591300e+10,-1.049500e+10,-1.411900e+10,-9.097600e+10,4.589600e+10,6.939100e+10,-1.923000e+09,...,-6.520000e+08,-6.240000e+08,-4.063100e+10,-1.049500e+10,-8.805000e+09,-6.689700e+10,9.872400e+10,NaN,NaN,6.068000e+09
AAPL,2020-09-30,12M,USD,5.022400e+10,-7.309000e+09,-1.408100e+10,-8.682000e+10,-4.289000e+09,8.067400e+10,-4.062000e+09,...,-9.700000e+07,-1.524000e+09,-1.151480e+11,-7.309000e+09,-1.359200e+10,-7.235800e+10,1.204830e+11,NaN,-963000000.0,6.829000e+09
AAPL,2021-09-30,12M,USD,3.978900e+10,-1.108500e+10,-1.446700e+10,-9.335300e+10,-1.454500e+10,1.040380e+11,1.232600e+10,...,-1.470000e+08,-3.300000e+07,-1.095580e+11,-1.108500e+10,-8.750000e+09,-8.597100e+10,1.064830e+11,NaN,NaN,7.906000e+09
AAPL,2022-09-30,12M,USD,3.592900e+10,-1.070800e+10,-1.484100e+10,-1.107490e+11,-2.235400e+10,1.221510e+11,9.448000e+09,...,1.110000e+08,-3.060000e+08,-7.692300e+10,-1.070800e+10,-9.543000e+09,-8.940200e+10,6.736300e+10,3.955000e+09,NaN,9.038000e+09
AAPL,2022-12-31,TTM,USD,3.863000e+10,-1.169200e+10,-1.487700e+10,-1.181530e+11,-7.693000e+09,1.091900e+11,-1.644000e+10,...,-1.055000e+09,NaN,-4.716300e+10,-1.169200e+10,-1.815800e+10,-8.839900e+10,5.301500e+10,NaN,NaN,9.678000e+09
AAPL,2023-03-31,TTM,USD,2.918000e+10,-1.209400e+10,-1.493200e+10,-1.155260e+11,3.891000e+09,1.095840e+11,-9.566000e+09,...,-2.689000e+09,NaN,-2.613300e+10,-1.209400e+10,-9.444000e+09,-8.536200e+10,4.371600e+10,NaN,NaN,1.011200e+10

In [39]:
from yahooquery import Ticker

stock = Ticker('AAPL')
profile = stock.summary_profile
pd.DataFrame(profile)

                                                                  AAPL
address1                                            One Apple Park Way
city                                                         Cupertino
companyOfficers                                                     []
country                                                  United States
fullTimeEmployees                                               164000
industry                                          Consumer Electronics
industryDisp                                      Consumer Electronics
longBusinessSummary  Apple Inc. designs, manufactures, and markets ...
maxAge                                                           86400
phone                                                     408 996 1010
sector                                                      Technology
state                                                               CA
website                                          https://www.apple.com
zip                                                              95014

In [41]:
from yahooquery import Ticker

stock = Ticker('AAPL')
stats = stock.key_stats
pd.DataFrame(stats)

                                             AAPL
52WeekChange                             0.361007
SandP52WeekChange                        0.171271
beta                                     1.289436
bookValue                                   3.953
category                                     None
dateShortInterest             2023-05-30 19:00:00
earningsQuarterlyGrowth                    -0.034
enterpriseToEbitda                          23.93
enterpriseToRevenue                         7.692
enterpriseValue                     2962294571008
floatShares                           15712029576
forwardEps                                   6.56
forwardPE                               28.189024
fundFamily                                   None
heldPercentInsiders                       0.00071
heldPercentInstitutions                   0.61232
impliedSharesOutstanding              15728700416
lastDividendDate                       1683849600
lastDividendValue                            0.24
lastFiscalYearEnd             2022-09-23 19:00:00
lastSplitDate                 2020-08-30 19:00:00
lastSplitFactor                               4:1
legalType                                    None
maxAge                                          1
mostRecentQuarter             2023-03-31 19:00:00
netIncomeToCommon                     94321000448
nextFiscalYearEnd             2023-09-23 19:00:00
pegRatio                                     3.91
priceHint                                       2
priceToBook                              46.77966
profitMargins                             0.24493
sharesOutstanding                     15728700416
sharesPercentSharesOut                     0.0075
sharesShort                             117654782
sharesShortPreviousMonthDate  2023-04-27 19:00:00
sharesShortPriorMonth                   124657645
shortPercentOfFloat                        0.0075
shortRatio                                   2.03
trailingEps                                   5.9

In [43]:
from yahooquery import Ticker

stock = Ticker('AAPL')
earnings = stock.earnings
earnings

{'AAPL': {'maxAge': 86400,
  'earningsChart': {'quarterly': [{'date': '2Q2022',
     'actual': 1.2,
     'estimate': 1.16},
    {'date': '3Q2022', 'actual': 1.29, 'estimate': 1.27},
    {'date': '4Q2022', 'actual': 1.88, 'estimate': 1.94},
    {'date': '1Q2023', 'actual': 1.52, 'estimate': 1.43}],
   'currentQuarterEstimate': 1.19,
   'currentQuarterEstimateDate': '2Q',
   'currentQuarterEstimateYear': 2023,
   'earningsDate': ['2023-07-26 15:00:S', '2023-07-31 15:00:S']},
  'financialsChart': {'yearly': [{'date': 2019,
     'revenue': 260174000000,
     'earnings': 55256000000},
    {'date': 2020, 'revenue': 274515000000, 'earnings': 57411000000},
    {'date': 2021, 'revenue': 365817000000, 'earnings': 94680000000},
    {'date': 2022, 'revenue': 394328000000, 'earnings': 99803000000}],
   'quarterly': [{'date': '2Q2022',
     'revenue': 82959000000,
     'earnings': 19442000000},
    {'date': '3Q2022', 'revenue': 90146000000, 'earnings': 20721000000},
    {'date': '4Q2022', 'revenue': 117154000000, 'earnings': 29998000000},
    {'date': '2Q2023', 'revenue': 0, 'earnings': 0}]},
  'financialCurrency': 'USD'}}

In [45]:
from yahooquery import Ticker

stock = Ticker('AAPL')
recommendations = stock.recommendation_trend
pd.DataFrame(recommendations)

           period  strongBuy  buy  hold  sell  strongSell
symbol row
AAPL   0       0m         11   21     6     0           0
       1      -1m          9   24     7     1           0
       2      -2m          9   24     7     1           0
       3      -3m         13   20     8     0           0

In [46]:
from yahooquery import Ticker

stock = Ticker('AAPL')
holders = stock.major_holders
print(holders)

{'AAPL': {'maxAge': 1, 'insidersPercentHeld': 0.00071000005, 'institutionsPercentHeld': 0.61232, 'institutionsFloatPercentHeld': 0.61275, 'institutionsCount': 5743}}

In [48]:
from yahooquery import Ticker

stock = Ticker('AAPL')
options = stock.option_chain
pd.DataFrame(options)

                                   contractSymbol  strike currency  lastPrice  \
symbol expiration optionType
AAPL   2023-06-23 calls       AAPL230623C00070000    70.0      USD     108.57
                  calls       AAPL230623C00100000   100.0      USD      79.80
                  calls       AAPL230623C00110000   110.0      USD      75.93
                  calls       AAPL230623C00115000   115.0      USD      70.92
                  calls       AAPL230623C00120000   120.0      USD      65.89
...                                           ...     ...      ...        ...
       2025-12-19 puts        AAPL251219P00260000   260.0      USD      86.91
                  puts        AAPL251219P00270000   270.0      USD      96.76
                  puts        AAPL251219P00290000   290.0      USD     116.36
                  puts        AAPL251219P00300000   300.0      USD     115.44
                  puts        AAPL251219P00310000   310.0      USD     127.02

                                 change  percentChange  openInterest     bid  \
symbol expiration optionType
AAPL   2023-06-23 calls        0.000000       0.000000             1  114.20
                  calls        0.000000       0.000000            19   83.35
                  calls        6.830002       9.884229             4   74.25
                  calls       13.019997      22.487040             3   69.25
                  calls        3.950001       6.377141             2   64.25
...                                 ...            ...           ...     ...
       2025-12-19 puts         0.000000       0.000000             0   74.55
                  puts         0.000000       0.000000             0   86.95
                  puts         0.000000       0.000000             0  107.15
                  puts         0.000000       0.000000             0  112.90
                  puts         0.000000       0.000000             0  122.85

                                 ask contractSize       lastTradeDate  \
symbol expiration optionType
AAPL   2023-06-23 calls       117.15      REGULAR 2023-05-30 14:09:28
                  calls        86.90      REGULAR 2023-06-05 19:53:22
                  calls        77.20      REGULAR 2023-06-16 17:45:43
                  calls        72.20      REGULAR 2023-06-16 17:34:41
                  calls        66.90      REGULAR 2023-06-16 17:38:58
...                              ...          ...                 ...
       2025-12-19 puts         77.60      REGULAR 2023-05-15 18:24:01
                  puts         90.70      REGULAR 2023-05-05 14:01:40
                  puts        110.65      REGULAR 2023-05-11 17:03:36
                  puts        116.80      REGULAR 2023-06-14 15:27:34
                  puts        126.80      REGULAR 2023-06-13 15:06:34

                              impliedVolatility  inTheMoney  volume
symbol expiration optionType
AAPL   2023-06-23 calls                4.119145        True     0.0
                  calls                2.210942        True    20.0
                  calls                2.391606        True     5.0
                  calls                2.215825        True     9.0
                  calls                1.964844        True    13.0
...                                         ...         ...     ...
       2025-12-19 puts                 0.165108        True    86.0
                  puts                 0.223107        True     1.0
                  puts                 0.248054        True     1.0
                  puts                 0.194466        True     1.0
                  puts                 0.204171        True     1.0

[1617 rows x 14 columns]

In [50]:
from yahooquery import Ticker

# Initialize a Ticker object with multiple ticker symbols
stocks = Ticker(['AAPL', 'GOOG', 'MSFT'])

# Fetch balance sheet data for all stocks
balance_sheets = stocks.balance_sheet()

# Fetch other financial data for all stocks
income_statements = stocks.income_statement()
cash_flows = stocks.cash_flow()

# Print the data
income_statements

,asOfDate,periodType,currencyCode,BasicAverageShares,BasicEPS,CostOfRevenue,DilutedAverageShares,DilutedEPS,DilutedNIAvailtoComStockholders,EBIT,...,TaxEffectOfUnusualItems,TaxProvision,TaxRateForCalcs,TotalExpenses,TotalOperatingIncomeAsReported,TotalOtherFinanceCost,TotalRevenue,TotalUnusualItems,TotalUnusualItemsExcludingGoodwill,WriteOff
symbol,,,,,,,,,,,,,,,,,,,,,
AAPL,2019-09-30,12M,USD,1.847134e+10,2.992500,1.617820e+11,1.859565e+10,2.972500,5.525600e+10,6.393000e+10,...,0.000000e+00,1.048100e+10,0.159438,1.962440e+11,6.393000e+10,NaN,2.601740e+11,NaN,NaN,NaN
AAPL,2020-09-30,12M,USD,1.735212e+10,3.310000,1.695590e+11,1.752821e+10,3.280000,5.741100e+10,6.628800e+10,...,0.000000e+00,9.680000e+09,0.144282,2.082270e+11,6.628800e+10,NaN,2.745150e+11,NaN,NaN,NaN
AAPL,2021-09-30,12M,USD,1.670127e+10,5.670000,2.129810e+11,1.686492e+10,5.610000,9.468000e+10,1.089490e+11,...,0.000000e+00,1.452700e+10,0.133023,2.568680e+11,1.089490e+11,NaN,3.658170e+11,NaN,NaN,NaN
AAPL,2022-09-30,12M,USD,1.621596e+10,6.150000,2.235460e+11,1.632582e+10,6.110000,9.980300e+10,1.194370e+11,...,0.000000e+00,1.930000e+10,0.162045,2.748910e+11,1.194370e+11,NaN,3.943280e+11,NaN,NaN,NaN
AAPL,2022-12-31,TTM,USD,NaN,NaN,2.206660e+11,NaN,NaN,9.517100e+10,1.167250e+11,...,0.000000e+00,1.831400e+10,0.161378,2.735720e+11,1.139650e+11,NaN,3.875370e+11,NaN,NaN,NaN
AAPL,2023-03-31,TTM,USD,NaN,NaN,2.188070e+11,NaN,NaN,9.432100e+10,1.152070e+11,...,0.000000e+00,1.740700e+10,0.155798,2.727910e+11,1.123040e+11,NaN,3.850950e+11,NaN,NaN,NaN
GOOG,2019-12-31,12M,USD,1.385191e+10,2.479501,7.189600e+10,1.397111e+10,2.458001,3.434300e+10,3.592800e+10,...,-2.206100e+08,5.282000e+09,0.130000,1.259290e+11,3.423100e+10,-5.394000e+09,1.618570e+11,-1.697000e+09,-1.697000e+09,NaN
GOOG,2020-12-31,12M,USD,1.361631e+10,2.957501,8.473200e+10,1.374055e+10,2.930501,4.026900e+10,4.122400e+10,...,0.000000e+00,7.813000e+09,0.162493,1.413030e+11,4.122400e+10,NaN,1.825270e+11,0.000000e+00,0.000000e+00,NaN
GOOG,2021-12-31,12M,USD,1.335299e+10,5.694003,1.109390e+11,1.355347e+10,5.610003,7.603300e+10,7.871400e+10,...,0.000000e+00,1.470100e+10,0.162023,1.789230e+11,7.871400e+10,NaN,2.576370e+11,1.203000e+10,1.203000e+10,NaN
GOOG,2022-12-31,12M,USD,1.306300e+10,4.590000,1.262030e+11,1.315900e+10,4.560000,5.997200e+10,7.484200e+10,...,0.000000e+00,1.135600e+10,0.159208,2.079940e+11,7.484200e+10,NaN,2.828360e+11,-6.173000e+09,-6.173000e+09,NaN
GOOG,2022-12-31,TTM,USD,NaN,NaN,1.262030e+11,NaN,NaN,5.997200e+10,7.168500e+10,...,-9.815070e+08,1.135600e+10,0.159000,2.079940e+11,7.484200e+10,NaN,2.828360e+11,-6.173000e+09,-6.173000e+09,NaN
GOOG,2023-03-31,TTM,USD,NaN,NaN,1.272160e+11,NaN,NaN,5.858700e+10,7.095300e+10,...,-8.148199e+08,1.201200e+10,0.170144,2.124490e+11,7.216300e+10,NaN,2.846120e+11,-4.789000e+09,-4.789000e+09,NaN
MSFT,2019-06-30,12M,USD,7.673000e+09,5.110000,4.291000e+10,7.753000e+09,5.060000,3.924000e+10,4.295900e+10,...,0.000000e+00,4.448000e+09,0.100000,8.288400e+10,4.295900e+10,NaN,1.258430e+11,7.100000e+08,7.100000e+08,NaN
MSFT,2020-06-30,12M,USD,7.610000e+09,5.820000,4.607800e+10,7.683000e+09,5.760000,4.428100e+10,5.295900e+10,...,0.000000e+00,8.755000e+09,0.160000,9.005600e+10,5.295900e+10,NaN,1.430150e+11,2.800000e+07,2.800000e+07,NaN
MSFT,2021-06-30,12M,USD,7.547000e+09,8.120000,5.223200e+10,7.608000e+09,8.050000,6.127100e+10,6.991600e+10,...,0.000000e+00,9.831000e+09,0.138266,9.817200e+10,6.991600e+10,NaN,1.680880e+11,1.303000e+09,1.303000e+09,NaN
MSFT,2022-06-30,12M,USD,7.496000e+09,9.700000,6.265000e+10,7.540000e+09,9.650000,7.273800e+10,8.338300e+10,...,0.000000e+00,1.097800e+10,0.131134,1.148870e+11,8.338300e+10,NaN,1.982700e+11,3.340000e+08,3.340000e+08,101000000.0
MSFT,2022-12-31,TTM,USD,NaN,NaN,6.498400e+10,NaN,NaN,6.744900e+10,8.457700e+10,...,-1.002692e+08,1.513900e+10,0.183308,1.212790e+11,8.281500e+10,NaN,2.040940e+11,-5.470000e+08,-5.470000e+08,NaN
MSFT,2023-03-31,TTM,USD,NaN,NaN,6.549700e+10,NaN,NaN,6.902000e+10,8.705300e+10,...,-3.886760e+07,1.605100e+10,0.188678,1.227880e+11,8.480300e+10,NaN,2.075910e+11,-2.060000e+08,-2.060000e+08,NaN